html {
  overscroll-behavior: none;
  overflow-x: hidden;
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

html:has(body.blurred) {
  overflow: hidden;
}

:root {
  --heavy-black: #161616;

  --transparent-black: #02020270;

  --ruby-red: #a49080;

  --gold: #d2b568;

  --gray: #d4d0cf;

  --white: #ececec;

  --transparent-heavy-black: #161616c7;

  --minor-gray: #7f7f7f;
}

body {
  overflow-x: hidden;

  padding: 0px;

  margin: 0px;

  background-color: var(--gray);

  transition: all 200ms ease-in-out;
}

body.blurred {
  overflow: hidden;
}

.codument {
  transition: all 200ms ease-in-out;
}

body.blurred .codument {
}

.loading-screen {
  width: 100vw;

  height: 100vh;

  position: fixed;

  top: 50%;

  left: 50%;

  display: grid;

  align-items: center;

  transform: translate(-50%, -50%);

  z-index: 100000;

  background-color: var(--gray);

  animation: 2s loading-remove both ease-in-out 1.5s;

  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px);
}

.loading-screen .img-container {
  margin: auto;

  width: 150px;

  aspect-ratio: 1/1;

  background-position: center;

  background-repeat: no-repeat;

  background-size: 100%;

  background-image: url(../media/candle-1.jpg);

  position: relative;

  animation: 3s loading-logo both ease-in-out;
}

@keyframes loading-remove {
  from {
    background-color: var(--heavy-black);
  }

  60% {
    background-color: #d4d0cf00;

    backdrop-filter: none;

    -webkit-backdrop-filter: none;

    opacity: 1;
  }

  to {
    backdrop-filter: none;

    -webkit-backdrop-filter: none;

    background-color: #d4d0cf00;

    opacity: 0;
  }
}

@keyframes loading-logo {
  from {
    scale: 1;
  }

  70% {
    scale: 1.2;

    filter: blur(0px);

    opacity: 1;
  }

  to {
    scale: 1.15;

    filter: blur(10px);

    opacity: 0;
  }
}

@keyframes loading-fade {
  from {
    background-position: top right;
  }

  50% {
    background-position: bottom left;
  }

  to {
    background-position: bottom left;
  }
}

.loading-screen .img-container::before {
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent,
    var(--heavy-black),
    var(--heavy-black)
  );

  background-position: bottom left;

  background-size: 500%;

  content: "";

  width: 100%;

  height: 100%;

  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  animation: 3s loading-fade forwards ease-in-out;
}

.nav-master-container {
  width: 100vw;

  background-color: var(--heavy-black);

  z-index: 9999;

  position: fixed;

  top: 0px;

  height: 65px;

  border-bottom: 0px solid var(--ruby-red);

  transition: all 200ms ease-in-out;

  overflow: hidden;
}

.nav-master-container.blocked {
  border-bottom: 0px solid var(--ruby-red);

  height: 85px;
}

.nav-master-container.deploy-mobile-nav {
  height: 100vh;
}

body .hidden-nav-links {
  display: none;

  align-content: center;

  height: calc(100vh - 80px);
}

.hidden-nav-links ul {
  padding: 0px;

  height: 100%;

  margin: auto 0px auto;
}

.hidden-nav-links li {
  border: 2px solid var(--ruby-red);

  padding: 10px 0px;

  list-style: none;

  text-align: center;

  margin: 10px;

  border-radius: 10px;

  transition: all 200ms ease-in-out;
}

.hidden-nav-links li:hover {
  background-color: var(--ruby-red);

  color: var(--heavy-black);
}

.hidden-nav-links a {
  width: 100%;

  height: 100%;

  text-decoration: none;

  color: white;

  font-family: "Pacifico", Arial, Helvetica, sans-serif;
}

nav {
  padding: 3px 80px;

  height: 60px;

  width: 100%;

  display: flex;

  justify-content: right;

  transition: all 200ms ease-in-out;
}

.nav-master-container.blocked nav {
  height: 80px;
}

nav.deploy-mobile-nav {
  height: auto;
}

nav ul {
  width: 100%;

  max-width: 100%;

  margin: 0px;

  padding: 0px 80px;

  display: flex;

  justify-content: space-evenly;

  height: 100%;
}

nav li {
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  color: var(--white);

  display: grid;

  align-items: center;

  text-align: center;

  font-weight: 500;

  font-size: 1.5rem;

  text-transform: uppercase;
}

nav a {
  font-family: "barlow condensed", Arial, Helvetica, sans-serif;

  color: var(--white);

  text-decoration: none;

  cursor: pointer;

  transition: all 200ms ease-in-out;
}

nav li.contact a {
  border: 2px solid var(--ruby-red);

  background-color: var(--heavy-black);

  border-radius: 10px;

  padding: 10px 20px;
}

.nav-master-container.blocked nav li.contact a:hover {
  box-shadow: var(--ruby-red) 0px 0px 15px 2px;
}

nav li.contact a:hover {
  background-color: var(--ruby-red);

  color: var(--heavy-black);

  transform: none;

  box-shadow: var(--ruby-red) 0px 0px 5px 0px;
}

nav li.contact a:active {
  box-shadow: none;
}

nav a:hover {
  color: var(--ruby-red);

  transform: translateY(-2px);
}

nav a:active {
  transform: translateY(0px);

  filter: brightness(0.7);
}

nav .logo-container {
  margin: auto 0px;

  height: 80%;

  aspect-ratio: 1/1;

  background-image: url(../media/NLogo2.png);

  background-size: 100%;

  background-repeat: no-repeat;

  background-position: center;

  transform-origin: center;

  transition: all 200ms ease-in-out;
}

nav li.hamburger {
  display: none;

  font-size: 40px;
}

button {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden-nav-links {
  height: auto;

  width: 100vw;
}

.mobile-nav {
  z-index: -9998;

  width: 100vw;

  height: 100vh;

  display: none;

  align-items: center;

  position: fixed;

  /*top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);*/

  bottom: 0px;

  opacity: 0;

  transition: all 200ms ease-in-out;
}

.mobile-nav.extended {
  z-index: 9998;

  opacity: 1;
}

.mobile-nav ul {
  font-family: "Pacifico", Arial, Helvetica, sans-serif;
  text-align: center;

  margin: auto auto;

  width: 100%;

  padding: 0px;
}

.mobile-nav li {
  width: 100%;

  margin: 00px 0px 0px;

  list-style-type: none;
}

.mobile-nav li a {
  margin: 10px 10px;

  padding: 15px 0px;

  border-radius: 10px;

  display: block;

  font-size: 30px;

  text-decoration: none;

  color: black;

  background-color: rgba(255, 255, 255, 0.7);

  border: 2px solid var(--ruby-red);

  transition: all 150ms ease-in-out;
}

.mobile-nav li a:hover {
  background-color: var(--ruby-red);
}

header {
  padding: 0px;

  filter: contrast(1);

  height: 100vh;

  background-attachment: 50%;

  width: 100vw;

  position: relative;

  background-size: 100%;

  background-repeat: no-repeat;

  background-position: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url(../media/large\ photo\ .png);

  margin-bottom: 40vh;

  border-bottom: 3px solid var(--heavy-black);
}

@keyframes glow {
  from {
    opacity: 0.15;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0.15;
  }
}

/*header::before {

  content: "";

  position: absolute;

  width: 100%;

  height: 100%;

  background-image: url(../media/whitecristal.png);

  background-size: 40%;

  background-position: center;

  animation: 5s glow both infinite ease-in-out;

  background-attachment: fixed;

}*/

header .gold-text {
  font-weight: bolder;
}

h1 {
  text-transform: uppercase;

  font-size: 50px;

  color: white;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;

  font-weight: 500;

  margin: 0px;
}

h1 .hero {
  font-size: 40px;

  letter-spacing: 1px;

  font-weight: 40;

  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.header-container {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  text-align: center;

  border-radius: 2px 2px 10px 10px;

  padding: 40px;

  position: absolute;

  bottom: -75px;

  left: 50%;

  transform: translate(-50%, 0%);

  background-color: transparent;

  border: 2px solid var(--heavy-black);
}

.header-container::after {
  z-index: -1;

  content: "";

  position: absolute;

  top: 0px;

  left: 50%;

  border-radius: 0px 0px 0px 0px;

  transform: translateX(-50%);

  backdrop-filter: blur(40px);

  -webkit-backdrop-filter: blur(40px);

  background-color: var(--transparent-black);

  width: 100%;

  height: calc(100% - 70px);
}

.header-bottom-container {
  background-color: var(--heavy-black);

  border-top: 2px solid var(--heavy-black);

  margin: 40px -40px -40px;

  height: 70px;

  display: grid;

  align-items: center;

  border-radius: 0px 0px 7px 7px;
}

.gold-text {
  color: var(--ruby-red);
}

.wide-text {
  letter-spacing: 1.1rem;
}

.display-none {
  display: none;
}

.branding {
  font-size: 25px;

  color: #484848;

  text-transform: uppercase;

  font-weight: 600;

  font-family: "Times New Roman", Times, serif;
}

.branding .web {
}

.branding .cristal {
  color: #484848;
}

hr {
  height: 2px;

  border: 0px;

  background-color: white;
}

@keyframes extend-line {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

header hr.gold {
  animation: 2s extend-line ease-in-out both 0.5s;
}

header h2 {
  margin: 0px;
}

hr.gold {
  background-color: var(--ruby-red);

  height: 2px;

  width: 100%;

  margin-left: 0px;

  margin: 20px 0px;
}

main {
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  font-family: "Great Vibes";
}

.service {
  padding: 0px 40px;
  height: 100%;
  position: relative;
  font-family: "Great Vibes";
}

.service-box-container {
  z-index: 2;

  display: grid;

  position: relative;

  grid-template-columns: 1fr 1fr 1fr;

  height: 100%;

  margin: 100px;
}

.service-box {
  background-image: linear-gradient(
    45deg,
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray),
    var(--gray)
  );

  background-size: 100%;

  background-position: center right;

  border: 1px solid black;

  position: relative;

  margin: 10px;

  padding: 20px;

  border-radius: 20px 20px 20px 20px;

  transition: all 200ms ease-in-out;

  z-index: 2;
}

.service-box:hover {
  background-position: center left;

  transform: translateY(-10px) scale(1.01);

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service-box h5 {
  font-size: 30px;

  text-align: center;

  padding: 20px;

  width: 100%;

  margin: -20px -20px 0px;

  color: white;

  background-image: conic-gradient(
    from 183deg at top left,

    #d4d0d0 0%,

    #201315 29%,

    #d4d0d0 100%
  );
}

.service-box .img-container-service {
  border-radius: 19px 19px 0px 0px;

  height: 200px;

  width: 100%;

  padding: 20px;

  margin: -20px -20px;

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

.service-box:nth-child(1) .img-container-service {
  background-image: url(../media/green\ and\ white\ round.jpg);
}

.service-box:nth-child(2) .img-container-service {
  background-image: url(../media/superb\ candle.jpg);
}

.service-box:nth-child(3) .img-container-service {
  background-image: url(../media/boho\ melts.jpg);
}

.service-box:nth-child(4) .img-container-service {
  background-image: url(../media/bears.jpg);
}

.service-box:nth-child(5) .img-container-service {
  background-image: url(../media/green\ egg.jpg);
}

.service-box:nth-child(6) .img-container-service {
  background-image: url(../media/lego\ 5.png);
}

.service-box p {
  color: rgb(106, 106, 106);
  font-size: 25px;
}

.effect-button-container {
  width: 100%;

  display: flex;

  justify-content: flex-end;
}

.effect-button-container a {
  text-decoration: none;

  color: var(--heavy-black);

  background-color: var(--ruby-red);

  padding: 10px 10px;

  font-size: 25px;

  text-transform: uppercase;

  letter-spacing: 1px;

  font-weight: 500;

  width: 300px;

  height: 50px;

  font-family: "Times New Roman", Times, serif;

  position: relative;

  transition: all 200ms ease-in-out;

  border-radius: 4px;
}

.effect-button-container a:hover {
  width: 300px;
}

.effect-button-container a:hover .eb-text {
  left: 42%;

  top: 50%;

  transform: translate(-50% -58%);
}

.effect-button-container a:hover .eb-icon {
  opacity: 1;

  right: 25px;

  transform: translateY(-50%);
}

.effect-button-container .eb-text {
  position: absolute;

  left: 40%;

  top: 50%;

  transform: translate(-50%, -50%);

  transition: all 200ms ease-in-out;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.effect-button-container .eb-icon {
  position: absolute;

  right: 30px;

  transform: translateY(-50%);

  top: 50%;

  opacity: 0;

  transition: all 200ms ease-in-out;
}

h3 {
  font-family: "Great Vibes";
  color: #484848;

  font-size: 50px;

  font-weight: 100;

  position: relative;

  display: inline;
}

h3::after {
  content: "";

  width: 70%;

  height: 2px;

  background-color: var(--heavy-black);

  position: absolute;

  bottom: -10px;

  text-align: center;

  left: 0px;
}

h4 {
  position: relative;

  top: 0px;

  font-weight: 400;

  font-family: "Great Vibes";

  color: #484848;

  font-size: 30px;
}

section.projects {
  background-color: var(--heavy-black);

  width: 100vw;

  min-height: 20vh;

  margin: 200px 0px 0px;
  padding-top: 100px;
  position: relative;

  display: grid;

  align-items: center;
}

section.projects .projects-banner {
  text-align: center;

  position: absolute;

  left: 50%;

  transform: translateX(-50%);

  top: -20%;

  z-index: 2;

  background-image: linear-gradient(
    to bottom,

    #484848 5%,

    var(--heavy-black) 70%
  );

  border-radius: 10px;

  padding: 40px 80px;

  border: 0px solid var(--ruby-red);
}

section.projects .projects-banner h2 {
  font-size: 30px;

  text-transform: uppercase;

  letter-spacing: 10px;

  font-weight: 100;

  color: #5f5e5e;

  font-family: "Great Vibes";
}

section.projects .projects-banner h2 .emphasis {
  letter-spacing: normal;
  font-size: 15px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  color: var(--ruby-red);
}

section.projects .projects-banner hr {
  background-color: var(--ruby-red);
}

section.projects .projects-carousel-container {
  display: grid;

  position: relative;

  overflow-y: hidden;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  overflow-x: hidden;

  width: 100vw;

  height: fit-content;

  min-height: 80vh;
}

section.projects .projects-carousel-container::after {
  content: "";

  height: 10px;

  width: 200vw;

  left: 40.2%;

  top: 10px;

  background-color: var(--ruby-red);

  position: absolute;
}

section.projects .projects-carousel-element {
  width: 90vw;

  margin: 0px 5vw;

  height: 100%;

  display: grid;

  grid-template-columns: 2fr 3fr;
}

section.projects .device-container {
  background-image: url(../media/zarnesti-macbook.png);

  background-size: contain;

  background-position: center;

  width: 100%;

  height: 100%;

  background-repeat: no-repeat;

  position: relative;

  overflow: visible;
}

section.projects .projects-carousel-element:nth-child(2) .device-container {
  background-image: url(../media/gabriel-construct-macbook.png);
}

section.projects .projects-carousel-element:nth-child(3) .device-container {
  background-image: url(../media/brasov-macbook.png);
}

section.projects .device-container::before {
  content: "";

  top: 0px;

  right: -15px;

  height: 30px;

  width: 30px;

  border-radius: 3px;

  position: absolute;

  background-color: var(--ruby-red);
}

section.projects .info-container {
  min-height: 70%;

  margin: auto 0px;

  padding: 30px;

  color: var(--minor-gray);
}

section.projects .info-container h4 {
  font-family: "barlow condensed", Arial, Helvetica, sans-serif;

  color: var(--white);

  font-size: 40px;

  font-weight: 600;

  margin-bottom: 0px;

  text-transform: uppercase;
}

section.projects .info-container h5 {
  color: var(--ruby-red);

  font-size: 25px;

  margin-top: 10px;

  font-family: "barlow condensed", Arial, Helvetica, sans-serif;
}

section.projects .device-container::after {
  content: "";

  position: absolute;

  width: 2px;

  height: 60%;

  right: 0px;

  top: 50%;

  transform: translateY(-50%);

  background-color: var(--ruby-red);
}

section.projects .projects-carousel-master {
  width: 100vw;

  height: fit-content;
}

section.projects .project-nav-container {
  width: 100vw;

  display: flex;

  user-select: none;

  -webkit-user-select: none;

  justify-content: space-between;

  position: absolute;

  top: 50%;

  pointer-events: none;

  transform: translateY(-50%);

  z-index: 9000;
}

section.projects .project-nav-arrow:hover {
  filter: brightness(0.7);
}

section.projects .project-nav-arrow:active {
  filter: brightness(0.4);
}

section.projects .project-nav-arrow {
  pointer-events: fill;

  font-size: 60px;

  color: var(--ruby-red);

  margin: 0px 30px;

  transition: all 200ms ease-in-out;
}

section.projects .projects-carousel-element:nth-child(4) {
  grid-template-columns: 1fr;
}

section.projects a.your-site-container {
  border-radius: 10px;

  border: 2px solid gray;

  background-image: linear-gradient(
    var(--transparent-black),
    var(--heavy-black),
    var(--transparent-black)
  );

  width: auto;

  margin: 100px;

  display: grid;

  align-items: center;

  text-align: center;

  position: relative;

  text-decoration: none;
}

section.projects .your-site-container i {
  color: var(--ruby-red);

  top: calc(50% - 25px);

  left: calc(50% - 25px);

  font-size: 50px;

  position: absolute;

  transform: translate(-50% -50%);

  transition: all 200ms ease-in-out;
}

section.projects a.your-site-container h4 {
  font-family: "barlow condensed", Arial, Helvetica, sans-serif;

  color: var(--ruby-red);

  text-decoration: none;

  text-align: center;

  margin: 60px -0px -40px 0px;
}

section.projects a.your-site-container:hover i {
  filter: brightness(0.6);
}

section.price {
  min-height: 10vh;

  padding: 0px 100px 50vh;

  background-color: #baafa6;

  color: var(--minor-gray);
}

section.price h3 {
  color: var(--white);
}

section.price h3::after {
  background-color: var(--white);
}

section.price h4 {
  color: var(--white);
}

.price-item {
  border: 2px solid var(--gray);

  display: grid;

  border-radius: 10px;

  padding: 70px 120px;

  margin: 10px 0px 10px;

  grid-template-columns: 30% 70%;

  position: relative;
}

.price-item::after {
  transition: all 200ms ease-in-out;

  content: "";

  position: absolute;

  height: 30px;

  width: 30px;

  background-color: var(--ruby-red);

  top: calc(50% - 15px);

  left: -16px;

  transform: rotate(45deg);

  border-radius: 2px;
}

.price-item:hover::after {
  box-shadow: 0px 0px 5px 5px var(--ruby-red);

  filter: brightness(1.2) saturate(1.2);
}

.lowerpage {
  width: 150px;
  height: 150px;
}

.lowerpage1 {
  width: 200px;
  height: 90px;
}

.price-item .price-icon-container {
  width: 100%;
}

.price i {
  font-size: 10vh;
}

.price-info {
  display: flex;

  flex-direction: column;

  justify-content: space-evenly;
}

section.contact {
  margin-top: -50px;

  min-height: calc(100vh - 60px);

  background-size: cover;

  background-position: center;

  background-position: center;

  background-image: conic-gradient(
    from 183deg at top left,

    #d4d0d0 0%,

    #201315 29%,

    #d4d0d0 100%
  );
}

@media (min-width: 500px) {
  .service-box-container::after {
    content: "";

    width: 70%;

    left: 50%;

    top: 50%;

    z-index: 1;

    transform: translateX(-50%) translateY(-50%);

    position: absolute;

    height: 10px;

    background-color: var(--heavy-black);
  }
}

@media (max-width: 700px) {
  .codument .service-box-container {
    grid-template-columns: 1fr;

    z-index: 2;

    position: relative;

    margin: 30px 50px;
  }

  .service-box-container::after {
    z-index: 1;

    width: 4px;

    content: "";

    position: absolute;

    height: calc(100% - 100px);

    background-color: black;

    transform: translate(-50%, -50%);

    top: 50%;

    left: 50%;
  }
}

@media (max-width: 700px) {
  nav {
    user-select: none;

    padding: 0px;

    display: flex;

    justify-content: space-between;
  }

  nav ul {
    align-items: center;

    padding: 0px 20px 0px 0px;

    width: fit-content;
  }

  nav ul li {
    display: none;
  }

  nav li.hamburger {
    display: block;
  }

  nav .logo-container {
    margin: auto 0px auto 20px;
  }

  .mobile-nav {
    display: grid;
  }

  .header-bottom-container {
    width: calc(100% + 20px);

    margin: 40px -10px -40px;
  }

  .header-container {
    padding: 40px 10px;

    width: 80vw;

    border-radius: 0px 0px 10px 10px;
  }

  .header-container h1 {
    font-size: 20px;
  }

  body .codument .projects-banner {
    width: 80vw;

    top: -100px;

    padding: 40px 10px;

    border-radius: 10px;
  }

  body .codument .projects-banner h2 {
    font-size: 30px;
  }

  body .codument .projects-banner .emphasis {
    font-size: 10px;
  }

  .projects-banner hr {
    width: 70vw;
  }

  .header-container h1 .hero {
    font-size: 40px;

    letter-spacing: 5px;
  }

  header {
    background-size: 80%;
  }

  header hr.gold {
    max-width: 80%;

    margin: 20px auto;
  }

  section.service {
    padding: 20px;
  }

  .codument .service-box-container {
    grid-template-columns: 1fr;

    z-index: 2;

    position: relative;

    margin: 10px 0px;
  }

  .service-box-container::after {
    z-index: 1;

    width: 2px;

    content: "";

    position: absolute;

    height: calc(100% - 100px);

    background-color: black;

    transform: translate(-50%, -50%);

    top: 50%;

    left: 50%;
  }

  .codument .service-box {
    height: auto;

    z-index: 2;

    margin: 10px 0px;
  }

  .service-box h5 {
    border-radius: 19px 19px 0px 0px;
  }

  .img-container-service {
    display: none;
  }

  body .hidden-nav-links {
    display: grid;
  }

  section.projects {
    height: 150vh;
  }

  section.projects .projects-carousel-container {
  }

  section.projects .projects-carousel-container::after {
    left: 50vw;
  }

  section.projects .projects-carousel-element {
    grid-template-columns: 1fr;
  }

  section.projects .device-container {
    background-image: none;
  }

  section.projects .device-mobile-container {
    height: 30vh;

    background-image: url(../media/zarnesti-macbook.png);

    background-repeat: no-repeat;

    background-size: contain;

    background-position: center;
  }

  section.projects .device-container::after {
    display: none;
  }

  section.projects .device-container::before {
    left: 50%;

    transform: translateX(-50%);
  }

  section.projects .project-nav-arrow {
    margin: 0px 10px;
  }

  section.projects a.your-site-container {
    margin: 100px 40px 100px;

    height: 70%;
  }

  section.price {
    padding: 0px 10px;
  }
}
